[user]
    name = Philippe Suter
    email = philippe.suter@gmail.com

[alias]
    pull = pull --ff-only
    ba = branch --all
    fap = fetch --all --prune
    ci = commit
    co = checkout
    st = status
    sci = svn dcommit
    sup = svn rebase

[color]
    ui = true
    log = auto
    diff = auto
    branch = auto

[tig]
    show-date = yes
[merge]
	tool = vimdiff
